Med Calculator!!!

<fieldset>
<table>
    <tr>
        <td>
            Dialysis at least twice in the past week Or CVVHD for ≥24 hours in the past week
        </td>
        <td>
            <input type="radio" name="Dialysis">Yes
            <input type="radio" name="Dialysis">No
        </td>
    </tr>
    <tr>
        <td>
            Creatinine
            Cr >4.0 mg/dL is automatically assigned a value of 4.0        
        </td>
        <td>
            <input #Creatinine type="text" (input)="setCreatinine(Creatinine.value)" [value]="creatinine">
        </td>
    </tr>
    <tr>
        <td>
            Bilirubin        
        </td>
        <td>
            <input #Bilirubin type="text" (input)="setBilirubin(Bilirubin.value)" [value]="total_bilirubin">
        </td>
    </tr>
    <tr>
        <td>
            INR       
        </td>
        <td>
            <input #INR type="text" (input)="setINR(INR.value)" [value]="inr">
        </td>
    </tr>
    <!-- <tr>
        <td>
            Sodium       
        </td>
        <td>
            <input #Sodium type="textbox">
        </td>
    </tr> -->
    <tr>
        <td>     
        </td>
        <td>
            <input type="button" value="calculate" (click)="calculateMedScore()"> 
            <input type="button" value="clear" (click)="reset()">
        </td>
    </tr>
    <tr>
        <td>     
        </td>
        <td>
            <p>Meld Score: {{ medScore | percent}}</p>
        </td>
    </tr>
</table>
</fieldset>
